<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foodon</title>
    <link rel="icon" href="logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="login.css">
</head>
<div class="log">
    <form action="#">
        <h2 style="font-family: 'Courier New', Courier, monospace;">CONTACT FORM</h2>
        <div>
            <img src="icon.jpg">
        </div>
        <div class="container">
            <p>you have any queries or you wish to support leave us feedback.</p>
            <label><b>Username</b></label>
            <input type="text" placeholder="Username *" name="uname" required>
            <label><b>Name</b></label>
            <input type="text" placeholder="Name *" name="name" required>
            <label><b>Address</b></label>
            <input type="text" placeholder="Address *" name="addr" required>
            <label><b>Contact Number</b></label>
            <input type="text" placeholder="1234567890 *" name="num" required>
            <label><b>Feedback</b></label>
            <input type="text" placeholder="****** *" name="fb" required>
            <button type="submit">SUBMIT</button>
            <a href="index.html"><button type="button" class="cancelbtn">Cancel</button></a>
        </div>
    </form>
</div>

<body>

</body>

</html>