*{
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar ul{
  list-style-type: none;
  overflow: hidden;
  background-color:greenyellow;
}
.navbar ul li {

  float:left;

}
.navbar ul li a{
  display: block;
  color:orange;
  text-align: center;
  padding: 20px 26px;

}
.navbar ul li a:hover{
  background-color: orangered;
}
.contents h1
{text-align: left;
  font-size: 80px;
  font-style: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blueviolet;

}
.contents h3{
  text-align: left;
  font-size: 40px;
  font-family: cursive;
  color: blue;
}
.contents p{
  text-align: left;
  font-size: 30px;
  font-style: italic;
  color: darkgray;
}