body {
    width: auto;
    font-family: helvetica;
    text-align: center;
    padding: 10px;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #ccc;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('back1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.content{
    float: left;
    padding: 40px 30px;
    width: 80%;
    text-align: center; 
    

   }
.content h1
{
    float: left;
  font-size: 70px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blueviolet;

}
.content h3{

float: left;
  font-size: 30px;
  font-family: cursive;
  color: rgb(10, 10, 119);
}
.content p{
   float:right
;
  
  font-size: 30px;
  font-style: italic;
  color: darkolivegreen;
}


main {
    padding: 0%;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    position: static;
    overflow: auto;
}
 main button{
     width: 100%;
 }

footer {
    margin-left: -10px;
    padding: 40px;
    color:black;
    background-color:wheat;
    width: 97%;
    display: inline-block;
    text-align: center;
    font-weight: 100;
    font-size: 13px;
}

footer img {
    height: 60px;
    width:auto;
    border-radius: 8px;
}

.abt{
    font-size: 20px;

}
.abtp{
    font-size: 10px;
}